PORT=4000
FRONTEND_URL=http://localhost:3000

# Prisma
# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/selam_collab?schema=public

# Optional: prefix all REST routes (e.g. api/v1)
API_PREFIX=api/v1

